
.dark-theme {
   --primary-color: Aliceblue;
   --secondary-color: #616161;
}
.light-theme {
	--primary-color: navajowhite;
    --secondary-color: #616161;
}

body {
    padding-top: 20px;
    font-family: system-ui;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

@media (prefers-color-scheme: dark) {
	:root {
	    --primary-color: #996600;
        --secondary-color: #fff0b3;
	}
}

#wywiad{
    background-color: Snow;
    color: navy;
    font-family:"Times New Roman", Times, serif;
    font-size: 24px;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  min-height: calc(100vh - 60px);
}

@media (max-width: 767px) {
    min-height: calc(100vh - 20px);
  }

.modal-header {
    background-color: #C49F0F;
    padding:9px 15px;
    color:#FFF;
    font-family:Verdana, sans-serif;
    border-bottom:1px solid #eee;
 }
 .modal-body {
    background-color: #F8E69E;
    padding:9px 15px;
    color:#000;
    font-family:Verdana, sans-serif;
    border-bottom:4px solid #C49F0F;
 }
 .modal-footer {
    background-color: #FAEDBC;
    color:#FFF;
 }
 .select {
    background-color: #FAEDBC;
    color:#FFF;
 }
 .select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper i {
    position: absolute;
    top: 50%;
    left: 10px; /* Dostosuj pozycję ikony */
    transform: translateY(-50%);
    pointer-events: none; /* Zapobiega interakcji z ikoną */
    color: #007bff; /* Kolor ikony */
}

.select-wrapper select {
    padding-left: 30px; /* Zwiększamy padding na lewo, by zrobić miejsce dla ikony */
}

