
fieldset {
    border: solid 15px khaki;
    padding-top: 5px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}
legend {
    float: none;
    width: inherit;
}

#opis, #wywiad_text, #general_choroby, #orl_choroby, #zabieg, #zalecenia {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border: solid 1px khaki;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Open Sans', sans-serif, 36px;
    font-style: italic;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  min-height: calc(100vh - 60px);
  @media (max-width: 767px) {
    min-height: calc(100vh - 20px);
  }
}
.modal-header {
    background-color: #fff;
    padding:9px 15px;
    color:#FFF;
    font-family:Verdana, sans-serif;
    border-bottom:1px solid #eee;
 }
 .modal-body {
    background-color: #F8E69E;
    padding:9px 15px;
    color:#000;
    font-family:Verdana, sans-serif;
    border-bottom:4px solid #C49F0F;
 }
 .modal-footer {
    background-color: #FAEDBC;
    color:#FFF;
 }
 .select {
    background-color: #FAEDBC;
    color:#FFF;
 }
