<!DOCTYPE html>

<html lang="pl">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/logo.png') }}">

    <title>Asystent laryngologa</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/change_password.css') }}">
</head>

<body>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="{{ url_for('auth.change_password') }}" method="post">

    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-8">

                <h1 style="text-align: center;">ZMIANA HASŁA</h1>
                <p style="text-align: center;">Proszę wypełnić podany formularz aby zmienić hasło.</p>
                <hr>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <label for="psw"><b>Twoje nowe hasło</b></label>
                    <input type="password" placeholder="wpisz hasło" name="psw" id="psw" required>
                </div>
                <div class="col-4">
                    <label for="psw-repeat"><b>Weryfikacja hasła</b></label>
                    <input type="password" placeholder="powtórz hasło" name="psw-repeat" id="psw-repeat" required>
                </div>

                <button type="submit" class="registerbtn">ZAPISZ ZMIANY</button>
            </div>
            <div>
                 <a href="{{ url_for('visit.main_form') }}">Przejdź do strony głównej</a>
            </div>
        </div>
    </div>

</form>

<script src="{{ url_for('static',filename='js/theme-switcher.js') }}"></script>
</body>
</html>

