<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">

    <title>Pacjenci</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/patient.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</head>
<body>

<div class="col-12 text-center">
    <div class="row">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} text-center" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container col-12">
        <div class="row">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="60" height="60"
                             class="d-inline-block align-text-top">
                    </a>
                    <a class="navbar-brand"><h5>{% if current_user.is_authenticated %}<b>{{ user }}</b>{% endif %}</h5>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="btn btn-outline-primary" type="button"
                                   href="{{ url_for('antibiotic.antibiotic_main') }}">Antybiotykoterapia</a>
                            </li>
                            &ensp;
                            <li class="nav-item">
                                <a class="btn btn-outline-success" type="button"
                                   href="{{ url_for('visit.main_form') }}">Badanie</a>
                            </li>
                            &ensp;
                            <li class="nav-item">
                                <a class="btn btn-outline-secondary" type="button"
                                   href="{{ url_for('medical_certificate.medical_certificate_main') }}">Orzeczenia</a>
                            </li>
                            &ensp;
                            <li class="nav-item">
                                <a class="btn btn-warning" type="button"
                                   href="{{ url_for('patient.patient_main') }}">Szukaj
                                    pacjenta</a>
                            </li>
                            &ensp;
                            <li class="nav-item">
                                <a class="btn btn-outline-info" type="button"
                                   href="{{ url_for('instruction.instruction_main') }}">Instrukcje</a>
                            </li>
                            &ensp;
                            <li class="nav-item">
                                <a class="btn btn-outline-dark" type="button"
                                   href="{{ url_for('procedure.procedure_main') }}">Procedury
                                    NFZ</a>
                            </li>
                            &ensp;
                            <li class="nav-item">
                                <a class="btn btn-outline-dark" type="button"
                                   href="{{ url_for('schedule.schedule_main') }}">Terminarz</a>
                            </li>
                        </ul>
                        <a class="btn btn-danger" type="button" href="{{ url_for('auth.logout') }}">Wyloguj się</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Formularz wyszukiwania -->
    <div class="container mt-5 pt-5">
        <h4 class="mb-4">Wpisz dane i kryteria wyszukiwania:</h4>
        <form method="POST" action="{{ url_for('patient.patient_main') }}">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="first_name" class="form-label">Imię:</label>
                    <input type="text" class="form-control" id="first_name" name="first_name">
                </div>
                <div class="col-md-4">
                    <label for="surname" class="form-label">Nazwisko:</label>
                    <input type="text" class="form-control" id="surname" name="surname">
                </div>
                <div class="col-md-4">
                    <label for="pesel" class="form-label">PESEL:</label>
                    <input type="text" class="form-control" id="pesel" name="pesel">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="city" class="form-label">Miasto:</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="col-md-4">
                    <label for="nfz_info" class="form-label">Kod NFZ:</label>
                    <input type="text" class="form-control" id="nfz_info" name="nfz_info">
                </div>
                <div class="col-md-4">
                    <label for="start_date" class="form-label">Data od:</label>
                    <input type="date" class="form-control" id="start_date" name="start_date">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="end_date" class="form-label">Data do:</label>
                    <input type="date" class="form-control" id="end_date" name="end_date">
                </div>
                <div class="col-md-4">
                    <label for="search_mode" class="form-label">Rodzaj świadczeń:</label>
                    <select class="form-control" id="search_mode" name="search_mode">
                        <option value="visit" selected>Badania</option>
                        <option value="medical_certificate">Orzeczenia</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Szukaj</button>
        </form>

        <!-- Wyniki wyszukiwania -->
        {% if results is not none %}
            {% if results %}
                <h3 class="mt-5">Wyniki:</h3>
                <div id="results-pagination">
                    <div class="accordion" id="patientsAccordion">
                        {% for patient in results %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ loop.index }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ loop.index }}" aria-expanded="false"
                                            aria-controls="collapse{{ loop.index }}">
                                        Pacjent: {{ patient.first_name }} {{ patient.surname }}
                                    </button>
                                </h2>
                                <div id="collapse{{ loop.index }}" class="accordion-collapse collapse"
                                     aria-labelledby="heading{{ loop.index }}" data-bs-parent="#patientsAccordion">
                                    <div class="accordion-body">
                                        <p><strong>PESEL:</strong> {{ patient.pesel }}</p>
                                        <p>
                                            <strong>Adres:</strong> {{ patient.city }}, {{ patient.street }} {{ patient.apartment_number }}
                                        </p>

                                        {% if patient.limited_visits %}
                                            <h5>Wizyty:</h5>
                                            <ul class="list-group">
                                                {% for visit in patient.limited_visits %}
                                                    <li class="list-group-item">
                                                        <div class="card mb-4">
                                                            <div class="card-header bg-light">
                                                                <strong>Data
                                                                    badania:</strong> {{ visit.examination_date }} |
                                                                <strong>Miejsce badania:</strong> {{ visit.location }}
                                                            </div>
                                                            <div class="card-body">
                                                                <p>
                                                                    <strong>Pacjent:</strong> {{ patient.first_name }} {{ patient.surname }},
                                                                    PESEL: {{ patient.pesel }}</p>
                                                                <p>
                                                                    <strong>Adres:</strong> {{ patient.city }}, {{ patient.street }} {{ patient.apartment_number }}
                                                                </p>
                                                                <hr>
                                                                <div class="text-start">
                                                                    <p><strong>Wywiad:</strong> {{ visit.interview }}
                                                                    </p>
                                                                    <p><strong>Dane
                                                                        ogólne:</strong> {{ visit.general_info }}</p>
                                                                    <p><strong>Dane
                                                                        laryngologiczne:</strong> {{ visit.examination }}
                                                                    </p>
                                                                    <p><strong>Badanie
                                                                        laryngologiczne:</strong> {{ visit.orl }}</p>
                                                                    {% if visit.routine %}
                                                                        <p><strong>Zabiegi:</strong> {{ visit.routine }}
                                                                        </p>
                                                                    {% endif %}
                                                                    {% if visit.whisper_test %}
                                                                        <p><strong>Badanie
                                                                            szeptem:</strong> {{ visit.whisper_test }}
                                                                        </p>
                                                                    {% endif %}
                                                                    {% if visit.audiogram %}
                                                                        <p>
                                                                            <strong>Audiogram:</strong> {{ visit.audiogram }}
                                                                        </p>
                                                                    {% endif %}
                                                                </div>
                                                                {% if visit.audiogram_date %}
                                                                    <p class="text-center"><strong>Data wykonania
                                                                        audiogramu:</strong> {{ visit.audiogram_date }}
                                                                    </p>
                                                                    <hr>
                                                                    <h5 class="text-center">Audiogram</h5>


                                                                    <table class="table table-sm table-bordered text-center">
                                                                        <thead class="table-light text-center">
                                                                        <tr>
                                                                            <th class="text-center">250 Hz</th>
                                                                            <th class="text-center">500 Hz</th>
                                                                            <th class="text-center">1000 Hz</th>
                                                                            <th class="text-center">2000 Hz</th>
                                                                            <th class="text-center">3000 Hz</th>
                                                                            <th class="text-center">4000 Hz</th>
                                                                            <th class="text-center">6000 Hz</th>
                                                                            <th class="text-center">8000 Hz</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                            <td class="text-center">{{ visit.ul_250 }}</td>
                                                                            <td class="text-center">{{ visit.ul_500 }}</td>
                                                                            <td class="text-center">{{ visit.ul_1000 }}</td>
                                                                            <td class="text-center">{{ visit.ul_2000 }}</td>
                                                                            <td class="text-center">{{ visit.ul_3000 }}</td>
                                                                            <td class="text-center">{{ visit.ul_4000 }}</td>
                                                                            <td class="text-center">{{ visit.ul_6000 }}</td>
                                                                            <td class="text-center">{{ visit.ul_8000 }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-center">{{ visit.up_250 }}</td>
                                                                            <td class="text-center">{{ visit.up_500 }}</td>
                                                                            <td class="text-center">{{ visit.up_1000 }}</td>
                                                                            <td class="text-center">{{ visit.up_2000 }}</td>
                                                                            <td class="text-center">{{ visit.up_3000 }}</td>
                                                                            <td class="text-center">{{ visit.up_4000 }}</td>
                                                                            <td class="text-center">{{ visit.up_6000 }}</td>
                                                                            <td class="text-center">{{ visit.up_8000 }}</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                {% endif %}
                                                                <p><strong>Rozpoznanie:</strong> {{ visit.diagnosis }}
                                                                </p>
                                                                {% if visit_nfz_info %}
                                                                    <p><strong>Kod NFZ:</strong> {{ visit.nfz_info }}</p>
                                                                {% endif %}
                                                                <p>
                                                                    <strong>Zalecenia:</strong> {{ visit.recommendations }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <!-- Paginacja wizyt -->
                                            <nav aria-label="Pagination for visits">
                                                <ul class="pagination justify-content-center">
                                                    <li class="page-item {% if not patient.visit_has_prev %}disabled{% endif %}">
                                                        <a class="page-link"
                                                           href="{{ url_for('patient.patient_main', patient_id=patient.id, visit_page=patient.visit_current_page - 1) }}">Poprzednia</a>
                                                    </li>
                                                    {% for page_num in range(1, patient.visit_total_pages + 1) %}
                                                        <li class="page-item {% if page_num == patient.visit_current_page %}active{% endif %}">
                                                            <a class="page-link"
                                                               href="{{ url_for('patient.patient_main', patient_id=patient.id, visit_page=page_num) }}">{{ page_num }}</a>
                                                        </li>
                                                    {% endfor %}
                                                    <li class="page-item {% if not patient.visit_has_next %}disabled{% endif %}">
                                                        <a class="page-link"
                                                           href="{{ url_for('patient.patient_main', patient_id=patient.id, visit_page=patient.visit_current_page + 1) }}">Następna</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        {% else %}
                                            <p>Brak wizyt dla tego pacjenta.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% else %}
                <p class="mt-5">Brak wyników wyszukiwania.</p>
            {% endif %}
        {% endif %}


        <!-- Paginacja -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not has_prev %}disabled{% endif %}">
                    <a class="page-link"
                       href="{{ url_for('patient.patient_main', page=current_page - 1) }}">Poprzednia</a>
                </li>
                {% for page_num in range(1, total_pages + 1) %}
                    <li class="page-item {% if page_num == current_page %}active{% endif %}">
                        <a class="page-link"
                           href="{{ url_for('patient.patient_main', page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if not has_next %}disabled{% endif %}">
                    <a class="page-link"
                       href="{{ url_for('patient.patient_main', page=current_page + 1) }}">Następna</a>
                </li>
            </ul>
        </nav>
    </div>

</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const accordion = document.getElementById("patientsAccordion");

        // Otwórz akordeon, jeśli jest zapisany w local Storage
        const openAccordionId = localStorage.getItem("openAccordionId");
        if (openAccordionId) {
            const collapseElement = document.getElementById(openAccordionId);
            if (collapseElement) {
                const collapseInstance = new bootstrap.Collapse(collapseElement, {
                    toggle: true
                });
            }
        }

        // Zapisz otwarty akordeon
        accordion.addEventListener("show.bs.collapse", function (event) {
            localStorage.setItem("openAccordionId", event.target.id);
        });

        // Usuń z local Storage, gdy zamykasz akordeon
        accordion.addEventListener("hide.bs.collapse", function () {
            localStorage.removeItem("openAccordionId");
        });
    });

</script>

</body>
</html>
